/* ||||||||||||| BOARD ||||||||||||| */

.boardGrid {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  position: relative;
  top: -16em;
}

.red {
  background-color: rgb(175, 75, 43);
  color: white;
}

.blue {
  background-color: blue;
  color: white;
}

#main-app > div.container > div > div > div > div.boardGrid > button {
  width: 40px;
  height: 40px;
  position: relative;
}

.status {
  margin-bottom: 10px;
}

div.cartDiv {
  position: absolute;
  bottom: 1em;
  color: rgb(175, 75, 43);
  text-shadow: 1px 1px 1px black;
  font-size: 18px;
}

#main-app > div.container > div > div > div > div > p {
  color: rgb(175, 75, 43);
}

#main-app > div.container > div > div > div > h1 {
  text-shadow: 0px 0px 19px white;
}