.container {
  width: 100%;
  height: 600px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.game {
  display: flex;
  flex-direction: row;
  height: 100%;
}

#main-app > div.container > div > div > div {
  height: 100%;
}

.game-info {
  margin-left: 20px;
}