dl#gallery {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#gallery > dt:nth-child(1),
#gallery > dt:nth-child(3),
#gallery > dt:nth-child(5) {
  width: 135px;
  height: 135px;
}

dl#gallery dt img {
  width: 75px;
  height: 75px;
  margin: 2.2em;
}

.classWhite {
  color: white;
  text-align: center;
}

dl#gallery dd { 
  position: absolute;
  top: 2.2em;
  left: 100px;
  width: 300px;
  opacity: 0;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  transition: .85s opacity linear;
}

.classBg {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  text-align: center;
  position: relative;
  top: 6em;
  height: 190px;
  width: 100%;
  margin: auto;
  background: #ffffff4f;
  text-shadow: 1px 1px 1px black;
}

dl#gallery dd img {
  display: block;
  width: 300px;
  height: 100%;
  padding-bottom: 1.2em;
  margin: auto;
}

dl#gallery dt:hover + dd {
 opacity: 1;
}

#gallery > dd:nth-child(2),
#gallery > dd:nth-child(4),
#gallery > dd:nth-child(6) {
  width: 315px !important;
  height: 315px !important;
}

#gallery > dd:nth-child(2) > div {
  width: 315px;
  height: 315px;
}

#gallery > dd:nth-child(2),
#gallery > dd:nth-child(4),
#gallery > dd:nth-child(6) {
  width: 100%;
  height: 100%;
}

#gallery > dd:nth-child(2) > div,
#gallery > dd:nth-child(4) > div,
#gallery > dd:nth-child(6) > div {
  width: 440px !important;
  height: 250px !important;
  position: absolute !important;
  top: 1em !important;
  left: 0 !important;
  line-height: 1.5em;
  color: red;
  /* color: rgb(175, 75, 43); */
  display: flex;
  flex-flow: column;
  border: 5px solid rgb(175, 75, 43);
}

#gallery > dd:nth-child(2), 
#gallery > dd:nth-child(4), 
#gallery > dd:nth-child(6) {
  width: 440px !important;
  height: 350px !important;
  position: absolute !important;
  top: 11em !important;
  left: -1.5em !important;
}