#card_fan, #card_fan img {
  width: 200px;
  height: 300px;
  transition: .6s transform ease-out;
}

#card_fan {
  margin: 4em auto 0;
  height: 350px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#card_fan img {
  border: 10px solid #ffe;
  /* border: 10px solid white; */
  box-shadow: 12px 12px 10px rgba(0,0,0,0.2);
  position: absolute;
  transform-origin: center 1200px;
}

#card_fan:hover #card1 {
  transform: rotate(10deg)
}

#card_fan:hover #card2 {
  transform: rotate(5deg)
}

#card_fan:hover #card4 {
  transform: rotate(-5deg)
}

#card_fan:hover #card5 {
  transform: rotate(-10deg)
}

