* {
  box-sizing: border-box;
  font: 14px "Century Gothic", Futura, sans-serif;
}

body {
  margin: 0;
  
}

ol, ul {
  padding-left: 30px;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ||||||||||||| GAME ||||||||||||| */

.container {
  width: 100%;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
